#textdomain wesnoth-Castle_of_evil_spirit

[unit_type]
    id=proprietor
    name= _ "proprietor"
    race=human
    gender=male
    image="units/humans/Merchant/proprietor.png"
	profile="portraits/humans/proprietor.png"
    hitpoints=53
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    movement_type=smallfoot
    movement=6
    experience=300
    level=3
    alignment=chaotic
    advances_to=null
    cost=120
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "Working diligent merchant. Of course he is good at calculating money rather than fighting."
    die_sound={SOUND_LIST:HUMAN_DIE}
	
	[portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/proprietor.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/proprietor.png"
    [/portrait]
	
    {DEFENSE_ANIM "units/humans/Merchant/proprietor.png" "units/humans/Merchant/proprietor.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=platinum_dagger
        icon="attacks/dagger-curved.png"
        description= _ "platinum dagger"
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=3
    [/attack]
	[attack]
        name=paper_knife
        description= _ "paper knife"
        icon=attacks/dagger-curved.png
        type=blade
        range = negotiation
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_BRIBERY}
        [/specials]
        damage=1
        number=1
    [/attack]
    [attack]
        name=Coin bullet
        description= _ "Coin bullet"
        icon="attacks/coins_gold.png"
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=13
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=Coin bullet
        [/filter_attack]

        {MISSILE_FRAME_COIN_BULLET}

        start_time=-400
        [frame]
            image="units/humans/Merchant/proprietor.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS (gold.ogg) (gold.ogg) -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=platinum_dagger
        [/filter_attack]

        start_time=-250

        [frame]
            image="units/humans/Merchant/proprietor.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=paper_knife
        [/filter_attack]

        start_time=-250
        [frame]
            image="units/humans/Merchant/proprietor.png:400"
        [/frame]

        {SOUND:HIT_AND_MISS (gold.ogg) {SOUND_LIST:MISS} -75}
    [/attack_anim]
	
	{BRIBERY_EVENT}
	
[/unit_type]
